<div class="page-title"></div>

<div class="buss-stops-container about-page" id="buss-stop-container">
		<h1>Rutebuss</h1>
		<p>
			Dette er en ikke-kommeriell side for busstider. Data hentes fra <a href="http://tromskortet.no">Tromskortet</a> og via <a href="http://labs.ruter.no/"> Ruter sitt API </a>
		</p>
		<h2>Teknologi</h2>
		<p>
			<ul class="techlist">
				<li> Node </li>
				<li> Express </li>
				<li> MongoDB </li>
				<li> Grunt </li>
				<li> Browserify</li>
				<li> Backbone </li>
			</li>
		</p>
</div>

<div class="page-button-container" id="page-button-container">
    <button id="back-button" class="page-button">Tilbake</button>
</div>