<div class="page-title">{{title}}</div>
<div class="page-title">med avreise fra {{from}}</div>

<div id="buss-stops-container">
    {{#stops}}
    <button id="destination-buss-stop-button" data-id="{{_id}}" class="buss-stop-button">{{name}}</button>
    {{/stops}}
</div>

<div><button id="back-button" class="page-button">{{backButtonTitle}}</button></div>