<div class="page-title">{{title}}</div>

<div class="buss-stops-container">
    {{#cities}}
        <button data-id="{{_id}}" data-name="{{name}}" class="buss-stop-button citybutton">{{name}}</button>
    {{/cities}}
    <br class="clear" />
</div>