<div class="page-title">{{title}}</div>

<div class="buss-stops-container">
    {{#cities}}
        <button id="change-city-button" data-id="{{_id}}" data-name="{{name}}" class="buss-stop-button">{{name}}</button>
    {{/cities}}
    <br class="clear" />
</div>