<div class="page-title">{{title}}</div>

<div class="buss-stops-container">
    {{#stops}}
        <button id="buss-stop-button" data-id="{{_id}}" class="buss-stop-button">{{name}}</button>
    {{/stops}}
    <br class="clear" />
</div>
